body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    color: #d81b60;
    text-align: center;
    margin: 0;
}

header {
    background-color: #d81b60;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}

main {
    padding: 20px;
}

section {
    font-size: 1.5em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#yes-message {
    margin-top: 30px;
    font-size: 1.5em;
    color: #FF1493;
}

#new-button-container {
    margin-top: 20px;
}

#dont-leave-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #d81b60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dont-leave-button:hover {
    background-color: #ff4081;
}
